th{
    color:#004DAA;
    background-color: #D7EEF6;
    border: 1px solid black;
}
td{
    width: 75%;
}
h1{
    color: #004DAA;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid wheat;
    border-collapse: collapse;
}